<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<!-- 자료형을 알수가 없을때 NULL값으로 넣겠다 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.cntp.admin.model.vo.Banner" alias="banner" />
		<typeAlias type="com.kh.cntp.admin.model.vo.Report" alias="report" />
		
		<typeAlias type="com.kh.cntp.battle.model.vo.Battle" alias="battle" />
		<typeAlias type="com.kh.cntp.battle.model.vo.BattleResult" alias="battleResult" />
		<typeAlias type="com.kh.cntp.battle.model.vo.PoolInfo" alias="poolInfo" />
		<typeAlias type="com.kh.cntp.battle.model.vo.ResultHistory" alias="resultHistory" />
		
		<typeAlias type="com.kh.cntp.board.model.vo.Board" alias="board" />
		
		<typeAlias type="com.kh.cntp.diary.model.vo.Diary" alias="diary" />
		
		<typeAlias type="com.kh.cntp.member.model.vo.Cert" alias="cert" />
		<typeAlias type="com.kh.cntp.member.model.vo.Ingido" alias="ingido" />
		<typeAlias type="com.kh.cntp.member.model.vo.Member" alias="member" />
		
		<typeAlias type="com.kh.cntp.moim.model.vo.Apply" alias="apply" />
		<typeAlias type="com.kh.cntp.moim.model.vo.Chatting" alias="chatting" />
		<typeAlias type="com.kh.cntp.moim.model.vo.Group" alias="group" />
		<typeAlias type="com.kh.cntp.moim.model.vo.Team" alias="team" />
		<typeAlias type="com.kh.cntp.moim.model.vo.TeamMember" alias="teamMember" />
		
		<typeAlias type="com.kh.cntp.notice.model.vo.Notice" alias="notice" />

		<typeAlias type="com.kh.cntp.reply.model.vo.Reply" alias="reply" />
	</typeAliases>
	 <!-- 주의!!! : 미리 등록을 해두려면 해당 클래스가 진짜 존재하고 있는 상태여야함 -->

	<!-- 주의!!! : 미리 등록을 해두려면 해당 mapper파일이 진짜 존재하고있는 상태여야함 + namespace속성까지 작성해놓기-->
	
	<!-- 
		environments, dateSource에 기술했던 DB연결정보
		=> DB등록정보는 서버연동과 동시에 이루어져야하기때문에
		서버 켜짐과 동시에 바로 읽혀지는 파일인 root-context.xml에 기술할 예정 
	 -->
	
	<mappers>
		<mapper resource="/mappers/admin/admin-mapper.xml" />
		<mapper resource="/mappers/battle/battle-mapper.xml" />
		<mapper resource="/mappers/board/board-mapper.xml" />
		<mapper resource="/mappers/diary/diary-mapper.xml" />
		<mapper resource="/mappers/member/member-mapper.xml" />
		<mapper resource="/mappers/moim/moim-mapper.xml" />
		<mapper resource="/mappers/notice/notice-mapper.xml" />
		<mapper resource="/mappers/reply/reply-mapper.xml" />
	</mappers>
	
</configuration>
