<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="battleMapper">
	
	<resultMap id="battleResultSet" type="battle" >
		<result column="BATTLE_NO"  	property="battleNo"/>
		<result column="AREA"			property="area"/>
		<result column="GENDER"			property="gender"/>
		<result column="HOME_TEAM"		property="homeTeam"/>
		<result column="AWAY_TEAM"		property="awayTeam"/>
		<result column="LEVEL"			property="level"/>
		<result column="BATTLE_DATE"	property="battleDate"/>
		<result column="ORIGIN_NAME"	property="originName"/>
		<result column="CHANGE_NAME" 	property="changeName"/>
		<result column="STYLE"			property="style"/>
		<result column="TITLE"			property="title"/>
		<result column="BATTLE_TIME"	property="battleTime"/>
		<result column="BATTLE_RULE" 	property="battleRule"/>
	</resultMap>
	
	<resultMap id="poolInfoResultSet" type="poolInfo" >
		<result column="BATTLE_NO"		property="battleNo"/>
		<result column="POOL_NAME" 		property="poolName"/>
		<result column="LENGTH" 		property="length"/>
		<result column="WIDTH"			property="width"/>
		<result column="LANES" 			property="lanes"/>
		<result column="DEPTH"			property="depth"/>
		<result column="PLACE"			property="place"/>
		<result column="YES_NO"			property="yesNo"/>
	</resultMap>
	
	<resultMap type="team" id="teamResultMap">
		<result column="TEAM_NO" 			property="teamNo"/>
		<result column="TEAM_NAME" 			property="teamName"/>
		<result column="MEM_NO" 			property="memNo"/>
		<result column="TEAM_MEMBER" 		property="teamMember"/>
		<result column="TEAM_INTRO" 		property="teamIntro"/>
		<result column="ORIGIN_NAME" 		property="originName"/>
		<result column="CHANGE_NAME" 		property="changeName"/>
		<result column="TEAM_AREA" 			property="teamArea"/>
		<result column="TEAM_TIME" 			property="teamTime"/>
		<result column="KEYWORD" 			property="keyword"/>
		<result column="CREATE_DATE" 		property="createDate"/>
		<result column="BADGE_ORIGIN_NAME" 	property="badgeOriginName"/>
		<result column="BADGE_CHANGE_NAME" 	property="badgeChangeName"/>
		<result column="BADGE_STATUS" 		property="badgeStatus"/>
		<result column="STATUS" 			property="status"/>
		<result column="POWER_DURATION" 	property="powerDuration"/>
	</resultMap>
	
	<resultMap type="battleResult" id="battleResultResultSet">
		<result column="BATTLE_NO"			property="battleNo"/>
		<result column="victory"			property="VICTORY"/>
		<result column="defeat"				property="DEFEAT"/>
		<result column="vicRecord"			property="VIC_RECORD"/>
		<result column="defRecord"			property="DEF_RECORD"/>
		<result column="ok"					property="OK"/>
	</resultMap>
	
	<resultMap type="resultHistory" id="resultHistoryResultSet">
		<result column="TEAM_NO" 			property="teamNo"/>
		<result column="WINNING_STREAK" 	property="winningStreak"/>
		<result column="LOSING_STREAK" 		property="losingStreak"/>
		<result column="VICTORY" 			property="victory"/>
		<result column="DEFEAT" 			property="defeat"/>
	</resultMap>
	
<!-- 배틀풀 인서트 -->
	<insert id="insertBattle" parameterType="battle">
		INSERT
		  INTO 
		        BATTLE
		        (
		        BATTLE_NO
		        ,AREA
		        ,GENDER
		        ,HOME_TEAM
		        ,"LEVEL"
		        ,BATTLE_DATE
		        ,ORIGIN_NAME
		        ,CHANGE_NAME
		        ,STYLE
		        ,TITLE
		        ,BATTLE_TIME
		        ,BATTLE_RULE
		        )
		VALUES
		        (
		        SEQ_BTNO.NEXTVAL
		        ,#{area}
		        ,#{gender}
		        ,#{homeTeam}
		        ,#{level}
		        ,#{battleDate}
		        ,#{originName}
		        ,#{changeName}
		        ,#{style}
		        ,#{title}
		        ,#{battleTime}
		        ,#{battleRule}
		        )
	
	</insert>
	
	<insert id="insertPoolInfo" parameterType="poolInfo">
		INSERT 
		  INTO
		        POOL_INFO
		        (
		        BATTLE_NO
		        ,POOL_NAME
		        ,LENGTH
		        ,WIDTH
		        ,LANES
		        ,DEPTH
		        ,PLACE
		        ,YES_NO
		        )
		VALUES
		        (
		        SEQ_BTNO.CURRVAL
		        ,#{poolName}
		        ,#{length}
		        ,#{width}
		        ,#{lanes}
		        ,#{depth}
		        ,#{place}
		        ,#{yesNo}
		        )
	</insert>
	
<!-- 배틀풀 상세보기 -->
	<select id="selectBattle" parameterType="_int" resultMap="battleResultSet">
		SELECT 
		        BATTLE_NO
		        ,AREA
		        ,GENDER
		        ,HOME_TEAM
		        ,AWAY_TEAM
		        ,"LEVEL"
		        ,TO_CHAR(BATTLE_DATE, 'YYYY-MM-DD') "BATTLE_DATE"
		        ,ORIGIN_NAME
		        ,CHANGE_NAME
		        ,STYLE
		        ,TITLE
		        ,BATTLE_TIME
		        ,BATTLE_RULE
		  FROM
		        BATTLE
		 WHERE
		        BATTLE_NO = #{battleNo}
	</select>
	<select id="selectPoolInfo" parameterType="_int" resultMap="poolInfoResultSet">
		SELECT
		        BATTLE_NO
		        ,POOL_NAME
		        ,LENGTH
		        ,WIDTH
		        ,LANES
		        ,DEPTH
		        ,PLACE
		        ,YES_NO
		  FROM
		        POOL_INFO
		 WHERE
		        BATTLE_NO = #{battleNo}
	</select>
	<update id="applyBattle" parameterType="hashmap">
		UPDATE
		        BATTLE
		   SET
		        AWAY_TEAM = #{teamNo}
		 WHERE
		        BATTLE_NO = #{battleNo}
	</update>
	
	<insert id="provokeMsg" parameterType="hashmap">
		INSERT
		  INTO
		        CHATTING
		        (
		        CHAT_NO
		        ,MOIM_NO
		        ,MEM_NO
		        ,CHAT_CONTENT
		        )
		VALUES
		        (
		        SEQ_CNO.NEXTVAL
		        ,#{battleNo}
		        ,#{memNo}
		        ,#{chatContent}
		        )
	
	</insert>
	
	<select id="selectTeam" parameterType="string" resultMap="teamResultMap">
		SELECT
		        TEAM_NO
		        ,TEAM_NAME
		        ,MEM_NO
		        ,TEAM_MEMBER
		        ,TEAM_INTRO
		        ,ORIGIN_NAME
		        ,CHANGE_NAME
		        ,TEAM_AREA
		        ,TEAM_TIME
		        ,KEYWORD
		        ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') "CREATE_DATE"
		        ,BADGE_ORIGIN_NAME
		        ,BADGE_CHANGE_NAME
		        ,BADGE_STATUS
		        ,STATUS
		        ,POWER_DURATION
		  FROM
		        TEAM
		 WHERE
		        STATUS = 'Y'
		   AND
		        TEAM_NO = #{team}
	
	
	</select>
	
	<select id="selectBattleResult" parameterType="_int" resultMap="battleResultResultSet">
		SELECT
		        BATTLE_NO
		        ,VICTORY
		        ,DEFEAT
		        ,VIC_RECORD
		        ,DEF_RECORD
		        ,OK
		  FROM
		        BATTLE_RESULT
		 WHERE
		        BATTLE_NO = #{battleNo}
	</select>
	
	<select id="selectResultHistory" parameterType="string" resultMap="resultHistoryResultSet">
		SELECT
		        TEAM_NO
		        ,WINNING_STREAK
		        ,LOSING_STREAK
		        ,VICTORY
		        DEFEAT
		  FROM
		        RESULT_HISTORY
		 WHERE
		        TEAM_NO = #{team}
	</select>
	
	
	<insert id="insertBattleResult" parameterType="battleResult">
		INSERT
		  INTO
		        BATTLE_RESULT
		        (
		        BATTLE_NO
		        ,VICTORY
		        ,DEFEAT
		        ,VIC_RECORD
		        ,DEF_RECORD
		        )
		VALUES
		        (
		        #{battleNo}
		        #{victory},
		        #{defeat},
		        #{vicRecord},
		        #{defRecord}
		        )

	</insert>
	
</mapper>
