<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="moimMapper">
	
	<resultMap type="team" id="teamResultMap">
		<result column="TEAM_NO" 			property="teamNo"/>
		<result column="TEAM_NAME" 			property="teamName"/>
		<result column="MEM_NO" 			property="memNo"/>
		<result column="NICKNAME" 			property="nickname"/>
		<result column="TEAM_MEMBER" 		property="teamMember"/>
		<result column="TEAM_INTRO" 		property="teamIntro"/>
		<result column="ORIGIN_NAME" 		property="originName"/>
		<result column="CHANGE_NAME" 		property="changeName"/>
		<result column="KOR_AREA" 			property="korArea"/>
		<result column="TEAM_AREA" 			property="teamArea"/>
		<result column="TEAM_TIME" 			property="teamTime"/>
		<result column="KEYWORD" 			property="keyword"/>
		<result column="CREATE_DATE" 		property="createDate"/>
		<result column="BADGE_ORIGIN_NAME" 	property="badgeOriginName"/>
		<result column="BADGE_CHANGE_NAME" 	property="badgeChangeName"/>
		<result column="BADGE_STATUS" 		property="badgeStatus"/>
		<result column="STATUS" 			property="status"/>
		<result column="POWER_DURATION" 	property="powerDuration"/>
	</resultMap>
	
	<resultMap type="teamMember" id="teamMemberResultMap">
		<result column="TEAM_NO" 	property="teamNo"/>
		<result column="TEAM_GRADE" property="teamGrade"/>
		<result column="NICKNAME" 	property="nickname"/>
		<result column="MEM_NO" 	property="memNo"/>
		<result column="TEAM_ENROLL_DATE" 	property="teamEnrollDate"/>
		<result column="GRADE" 	property="grade"/>
	</resultMap>
	
	<resultMap type="group" id="groupResultMap">
		<result column="GROUP_NO" 			property="groupNo"/>
		<result column="NICKNAME" 			property="nickname"/>
		<result column="GRADE" 			property="grade"/>
		<result column="INGIDO"				property="ingido"/>
		<result column="MEM_GENDER" 		property="memGender"/>
		<result column="MEM_NO" 			property="memNo"/>
		<result column="GROUP_CONTENT" 		property="groupContent"/>
		<result column="GROUP_TITLE" 		property="groupTitle"/>
		<result column="KOR_AREA" 		    property="korArea"/>
		<result column="GROUP_AREA" 		property="groupArea"/>
		<result column="PLACE" 				property="place"/>
		<result column="GROUP_MEMBER" 		property="groupMember"/>
		<result column="GROUP_STATUS" 		property="groupStatus"/>
		<result column="START_TIME" 		property="startTime"/>
		<result column="END_TIME" 			property="endTime"/>
		<result column="ORIGIN_NAME" 		property="originName"/>
		<result column="CHANGE_NAME" 		property="changeName"/>
		<result column="LEVEL" 				property="level"/>
		<result column="GENDER" 			property="gender"/>
		<result column="CREATE_DATE" 		property="createDate"/>
		<result column="POWER_DURATION" 	property="powerDuration"/>
	</resultMap>
	
	<resultMap type="apply" id="applyResultMap">
		<result column="APPLY_NO" 		property="applyNo"/>
		<result column="MOIM_NO" 		property="moimNo"/>
		<result column="NICKNAME" 		property="nickname"/>
		<result column="MEM_NO" 		property="memNo"/>
		<result column="ACCEPT_YN" 		property="acceptYn"/>
		<result column="APPLY_DATE" 	property="applyDate"/>
		<result column="ACCEPT_DATE" 	property="acceptDate"/>
	</resultMap>
	
	<resultMap type="chatting" id="chattingResultMap">
		<result column="CHAT_NO" 		property="chatNo"/>
		<result column="MOIM_NO" 		property="moimNo"/>
		<result column="MEM_NO" 		property="memNo"/>
		<result column="NICKNAME" 		property="nickname"/>
		<result column="CHAT_CONTENT" 	property="chatContent"/>
		<result column="CREATE_DATE" 	property="createDate"/>
		<result column="GENDER" 	property="gender"/>
	</resultMap>
	
	<resultMap type="resultHistory" id="resultHistoryResultMap">
		<result column="TEAM_NO" 		property="teamNo"/>
		<result column="WINNING_STREAK" property="winningStreak"/>
		<result column="LOSING_STREAK" 	property="losingStreak"/>
		<result column="VICTORY" 		property="victory"/>
		<result column="DEFEAT" 		property="defeat"/>
	</resultMap>
	
	<resultMap type="member" id="memberResultMap">
		<result column="MEM_NO"			property="memNo"/>
		<result column="NICKNAME"		property="nickName"/>
		<result column="ENROLL_DATE"	property="enrollDate"/>
		<result column="GRADE"			property="grade"/>
	</resultMap>
	
	<select id="ajaxSelectTeam" resultType="_int" parameterType="string">
		SELECT
			   COUNT(*)
	      FROM
	           TEAM
	     WHERE
	     	   TEAM_NAME = #{ checkName }
	           
	</select>
	
	<insert id="insertTeam" parameterType="team">
		INSERT
		  INTO
		  	   TEAM
		VALUES
		       (
		        'T'||SEQ_TNO.NEXTVAL
		       ,#{ teamName }
		       ,#{ memNo }
		       ,#{ teamMember }
		       ,#{ teamIntro }
		       ,#{ originName }
		       ,#{ changeName }
		       ,#{ teamArea }
		       ,#{ teamTime }
		       ,#{ keyword }
		       ,SYSDATE
		       ,NULL
		       ,NULL
		       ,DEFAULT
		       ,DEFAULT
		       <if test="powerDuration != null">
		       ,SYSDATE + 7
		       </if>
		       <if test="powerDuration == null">
		       ,NULL
		       </if>
		       )
	</insert>
	
	<insert id="insertTeamLeaderMember" parameterType="team">
		INSERT
		  INTO
		       TEAM_MEMBER
		VALUES
		       (
		        'T'||SEQ_TNO.CURRVAL
		        ,'L'
		        ,#{ memNo }
		        ,SYSDATE
		       )
	</insert>
	
	<insert id="insertResultHistory">
		INSERT
		  INTO
		       RESULT_HISTORY
		VALUES
		       (
		        'T'||SEQ_TNO.CURRVAL
		        ,DEFAULT
		        ,DEFAULT
		        ,DEFAULT
		        ,DEFAULT
		       )
	</insert>
	
	<select id="selectTeam" parameterType="string" resultMap="teamResultMap">
		SELECT 
			   TEAM_NO
			  ,TEAM_NAME
			  ,MEM_NO
			  ,TEAM_MEMBER
			  ,TEAM_INTRO
			  ,ORIGIN_NAME
			  ,CHANGE_NAME
			  ,KOR_AREA
			  ,TEAM_AREA
			  ,CASE WHEN TEAM_TIME = 'all' THEN '무관'
                    WHEN TEAM_TIME = 'weekday' THEN '평일'
                    ELSE '주말' END "TEAM_TIME"
			  ,CASE WHEN KEYWORD = 'social' THEN '친목'
                    WHEN KEYWORD = 'battle' THEN '배틀'
                    ELSE '온라인모임만' END "KEYWORD"
			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
			  ,BADGE_ORIGIN_NAME
			  ,BADGE_CHANGE_NAME
			  ,BADGE_STATUS
			  ,STATUS
			  ,POWER_DURATION
	     FROM
	          TEAM "T"
	     JOIN
	          AREA "A" ON(T.TEAM_AREA = A.ENG_AREA)
		WHERE
		      TEAM_NO = #{ teamNo }
		  AND
		       STATUS = 'Y'
	</select>
	
	<select id="selectTeamMeberList" resultMap="teamMemberResultMap" parameterType="string">
		SELECT
		         TM.TEAM_NO
		        ,CASE WHEN TEAM_GRADE = 'L' THEN '팀장'
		              WHEN TEAM_GRADE = 'S' THEN '부팀장'
		              ELSE '팀원' END "TEAM_GRADE"
		        ,M.NICKNAME
		        ,TM.MEM_NO
		        ,TO_CHAR(TEAM_ENROLL_DATE, 'YYYY-MM-DD') AS "TEAM_ENROLL_DATE"
		        ,M.GRADE
		  FROM 
		       TEAM_MEMBER "TM"
		  JOIN
		       TEAM "T" ON(TM.TEAM_NO = T.TEAM_NO)
		  JOIN
		       MEMBER "M" ON(TM.MEM_NO = M.MEM_NO)
		 WHERE
		       T.TEAM_NO = #{ teamNo }
		   AND
		       T.STATUS = 'Y'
		 ORDER
		    BY
		       (CASE WHEN TEAM_GRADE = '팀장' THEN 1
		            WHEN TEAM_GRADE = '부팀장' THEN 2
		            ELSE 3 END)
			   
	</select>
	
	<select id="selectApplyList" resultMap="applyResultMap" parameterType="string">
		SELECT
		        A.APPLY_NO
		       ,A.MOIM_NO
		       ,M.NICKNAME
		       ,A.MEM_NO
		       ,M.GENDER
		       ,A.ACCEPT_YN
		       ,TO_CHAR(APPLY_DATE, 'YYYY-MM-DD') AS "APPLY_DATE"
		       ,TO_CHAR(ACCEPT_DATE, 'YYYY-MM-DD') AS "ACCEPT_DATE"
		  FROM
		       APPLY "A"
		  JOIN
		       TEAM "T" ON(A.MOIM_NO = T.TEAM_NO)
		  JOIN
		       MEMBER "M" ON(A.MEM_NO = M.MEM_NO)
		 WHERE
		       MOIM_NO = #{ moimNo }
		   AND
		       T.STATUS = 'Y'
		   AND
		       A.ACCEPT_YN = 'N'
		   
	</select>
	
	<select id="selectResultHistory" parameterType="string" resultMap="resultHistoryResultMap">
		SELECT
		        R.TEAM_NO
		       ,R.WINNING_STREAK
		       ,R.LOSING_STREAK
		       ,R.VICTORY
		       ,R.DEFEAT
		  FROM
		       RESULT_HISTORY "R"
		  JOIN
		       TEAM "T" ON(T.TEAM_NO = R.TEAM_NO)
		WHERE
		       R.TEAM_NO = #{ teamNo }
		  AND
		       T.STATUS = 'Y'
	</select>
	
	<select id="ajaxSelectApply" parameterType="apply" resultMap="applyResultMap">
		SELECT
			    APPLY_NO
			   ,MOIM_NO
			   ,MEM_NO
			   ,ACCEPT_YN
			   ,APPLY_DATE
			   ,ACCEPT_DATE
		  FROM
		       APPLY
		 WHERE
		       MEM_NO = #{ memNo }
           AND
               MOIM_NO = #{moimNo}
	</select>

	<update id="updateTeam" parameterType="team">
		UPDATE
		       TEAM
		   SET TEAM_MEMBER = #{ teamMember }
		      ,TEAM_INTRO = #{ teamIntro }
		      ,ORIGIN_NAME = #{ originName }
		      ,CHANGE_NAME = #{ changeName }
		      <if test='teamArea != null'>
		      ,TEAM_AREA = #{ teamArea }
		      </if>
		      ,TEAM_TIME = #{ teamTime }
		      ,KEYWORD = #{ keyword }
		      ,BADGE_ORIGIN_NAME = #{ badgeOriginName }
		      ,BADGE_CHANGE_NAME = #{ badgeChangeName }
		      <if test="powerDuration == 'true'">
		      	,POWER_DURATION = SYSDATE + 7
		      </if>
		 WHERE
		       TEAM_NO =  #{ teamNo }
	</update>	
	
	<update id="updateTeamBadgeStatus" parameterType="team">
		UPDATE TEAM
		   SET BADGE_STATUS = 'Y'
		 WHERE TEAM_NO = #{ teamNo }
	</update>
	
	<update id="updateTeamMemberGradeM" parameterType="string">
		UPDATE
			   TEAM_MEMBER
		   SET
		       TEAM_GRADE = 'M'
		 WHERE
		       TEAM_NO = #{ teamNo }
	</update>
	
	<update id="updateTeamMember" parameterType="teamMember">
		UPDATE
		       TEAM_MEMBER
		   SET
		       TEAM_GRADE = #{ teamGrade }
		 WHERE
		       MEM_NO = #{ memNo }
	</update>
	
	<delete id="deleteTeamMember" parameterType="_int">
		DELETE
		       TEAM_MEMBER
		 WHERE
		       MEM_NO = #{ memNo }
	</delete>
	
	<delete id="deleteApply" parameterType="apply">
		DELETE
			   APPLY
		 WHERE
		       MEM_NO = #{ memNo }
		   AND
		       MOIM_NO = #{ moimNo }
	</delete>
	
	<insert id="insertApply">
		INSERT
		  INTO
		       APPLY
		VALUES
		       (
		        SEQ_ANO.NEXTVAL
		       ,#{ moimNo }
		       ,#{ memNo }
		       ,DEFAULT
		       ,SYSDATE
		       ,NULL
		       )
	</insert>
	
	<update id="updateApply" parameterType="apply">
		UPDATE 
		       APPLY
		   SET
		       ACCEPT_YN = 'Y'
		      ,ACCEPT_DATE = SYSDATE
		 WHERE
		       APPLY_NO = #{ applyNo }
		  AND
		       MOIM_NO = #{moimNo}
	</update>
	
	<insert id="insertTeamMember" parameterType="teamMember">
		INSERT
		  INTO
		        TEAM_MEMBER
		VALUES
		       (
		        #{teamNo }
		       ,'M'
		       ,#{ memNo }
		       ,SYSDATE
		       )
	</insert>
	
	<select id="selectTeamCountList" parameterType="team" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       TEAM "T"
		 WHERE
		       STATUS = 'Y'
		<if test='teamArea != "all"'>
		   AND
		       TEAM_AREA = #{ teamArea }
		</if>
		<if test='keyword != "all"'>
		   AND 
		       KEYWORD = #{ keyword }
		</if>
		<if test='teamMember == "recruit"'>
		   AND 
		       <![CDATA[TEAM_MEMBER > (SELECT
		                             COUNT(*)
		                        FROM
		                             TEAM_MEMBER "TM"
		                       WHERE
		                             TM.TEAM_NO = T.TEAM_NO)]]>
		</if>
		<if test='teamMember == "end"'>
		   AND 
		       <![CDATA[TEAM_MEMBER <= (SELECT
		                             COUNT(*)
		                        FROM
		                             TEAM_MEMBER "TM"
		                       WHERE
		                             TM.TEAM_NO = T.TEAM_NO)]]>
		</if>
	</select>
	
	<select id="selectTeamList" parameterType="team" resultMap="teamResultMap">
		SELECT
		       TEAM_NO
		      ,TEAM_NAME
		      ,(SELECT
		               NICKNAME
		          FROM
		               MEMBER "M"
		         WHERE
		               M.MEM_NO = T.MEM_NO) "NICKNAME"
		      ,CASE WHEN <![CDATA[TEAM_MEMBER <= (SELECT
				                                COUNT(*)
				                           FROM
				                                TEAM_MEMBER "TM"
				                          WHERE
				                                TM.TEAM_NO = T.TEAM_NO)]]>
		                  THEN '모집마감'
		             ELSE '('||(SELECT
				                                COUNT(*)
				                           FROM
				                                TEAM_MEMBER "TM"
				                          WHERE
				                                TM.TEAM_NO = T.TEAM_NO)||'/'||T.TEAM_MEMBER||')' END "TEAM_MEMBER"
		      ,TEAM_INTRO
		      ,ORIGIN_NAME
		      ,CHANGE_NAME
		      ,KOR_AREA
		      ,CASE WHEN TEAM_TIME = 'all' THEN '무관'
		            WHEN TEAM_TIME = 'weekday' THEN '평일'
		            ELSE '주말' END "TEAM_TIME"
		      ,CASE WHEN KEYWORD = 'battle' THEN '배틀'
		            WHEN KEYWORD = 'social' THEN '친목'
		            ELSE '온라인모임만' END "KEYWORD"
		      ,CREATE_DATE
		      ,BADGE_ORIGIN_NAME
		      ,BADGE_CHANGE_NAME
		      ,BADGE_STATUS
		      ,STATUS
		      ,CASE WHEN TO_CHAR(POWER_DURATION, 'YYYYMMDD') >= TO_CHAR(SYSDATE, 'YYYYMMDD') THEN '파워'
		            ELSE '일반' END "POWER_DURATION"
		  FROM
		       TEAM "T"
		  JOIN
		       AREA "A" ON(T.TEAM_AREA = A.ENG_AREA)
		 WHERE
		       STATUS = 'Y'
		<if test='teamArea != "all"'>
		   AND
		       TEAM_AREA = #{ teamArea }
		</if>
		<if test='keyword != "all"'>
		   AND 
		       KEYWORD = #{ keyword }
		</if>
		<if test='teamMember == "recruit"'>
		   AND 
		       <![CDATA[TEAM_MEMBER > (SELECT
		                             COUNT(*)
		                        FROM
		                             TEAM_MEMBER "TM"
		                       WHERE
		                             TM.TEAM_NO = T.TEAM_NO)]]>
		</if>
		<if test='teamMember == "end"'>
		   AND 
		       <![CDATA[TEAM_MEMBER <= (SELECT
		                             COUNT(*)
		                        FROM
		                             TEAM_MEMBER "TM"
		                       WHERE
		                             TM.TEAM_NO = T.TEAM_NO)]]>
		</if>		       
		 ORDER
		    BY
		       POWER_DURATION DESC, CREATE_DATE DESC
	</select>
	
	<select id="selectChattingList" resultMap="chattingResultMap" parameterType="chatting">
		SELECT
		        CHAT_NO
		       ,C.MOIM_NO
		       ,C.MEM_NO
		       ,C.CHAT_CONTENT
		       ,TO_CHAR(C.CREATE_DATE, 'MM/DD HH24:MI') "CREATE_DATE"
		       ,M.NICKNAME
		  FROM
		       CHATTING "C"
		  JOIN
		  	   MEMBER "M" ON(C.MEM_NO = M.MEM_NO)
		 WHERE
		       MOIM_NO = #{ moimNo }
		   AND
		       TO_CHAR(C.CREATE_DATE, 'YYYYMMDDHH24MI') <![CDATA[>= (SELECT
		                                                      TO_CHAR(TM.TEAM_ENROLL_DATE, 'YYYYMMDDHH24MI')
		                                                 FROM
		                                                      TEAM_MEMBER "TM"
		                                                WHERE
		                                                      TM.MEM_NO = #{ memNo }
		                                               )]]>
		 ORDER
		    BY
		       CHAT_NO ASC
	</select>
	
	<insert id="ajaxInsertChatting" parameterType="chatting">
		INSERT
		  INTO
		       CHATTING
		VALUES
		       (
		        SEQ_CNO.NEXTVAL
		       ,#{ moimNo }
		       ,#{ memNo }
		       ,#{ chatContent }
		       ,SYSDATE
		       )
	</insert>
	
	<delete id="ajaxDeleteChatting" parameterType="string">
		DELETE
			   CHATTING
	     WHERE
	           CHAT_NO = #{ chatNo }
	</delete>
	
	<select id="selectGroup" parameterType="string" resultMap="groupResultMap">
		SELECT 
		        G.GROUP_NO
		       ,M.NICKNAME
		       ,CASE WHEN M.GRADE = 'B' THEN '초급'
		             WHEN M.GRADE = 'M' THEN '중급'
		             WHEN M.GRADE = 'S' THEN '고급' END "GRADE"
		       ,M.INGIDO
		       ,CASE WHEN M.GENDER = 'F' THEN '여성'
		             ELSE '남자' END "MEM_GENDER"
		       ,G.MEM_NO
		       ,G.GROUP_CONTENT
		       ,G.GROUP_AREA
		       ,AR.KOR_AREA
		       ,G.PLACE
		       ,G.ORIGIN_NAME
		       ,G.CHANGE_NAME
		       ,G.GROUP_TITLE
		       ,G.GROUP_STATUS
		       ,CASE WHEN G.GENDER = 'A' THEN '무관'
		             WHEN G.GENDER = 'F' THEN '여자만'
		             ELSE '남자만' END "GENDER"
		       ,CASE WHEN "LEVEL" = 'E' THEN '무관'
		             WHEN "LEVEL" = 'B' THEN '초급'
		             WHEN "LEVEL" = 'M' THEN '중급'
		             ELSE '고급' END "LEVEL"
		       ,CASE WHEN TO_CHAR(G.POWER_DURATION, 'YYYYMMDD') <![CDATA[>= TO_CHAR(SYSDATE, 'YYYYMMDD')]]> THEN TO_CHAR(G.POWER_DURATION, 'YYYY-MM-DD')
		             ELSE '일반' END "POWER_DURATION"
		       ,TO_CHAR(G.CREATE_DATE, 'YYYY/MM/DD') "CREATE_DATE"
		       ,TO_CHAR(G.START_TIME, 'YYYY/MM/DD hh24:mi:ss') "START_TIME"
		       ,TO_CHAR(G.END_TIME, 'YYYY/MM/DD hh24:mi:ss') "END_TIME"
		       ,CASE WHEN GROUP_MEMBER - 1 <![CDATA[<= (SELECT
		                                          COUNT(*)
		                                     FROM
		                                          APPLY
		                                    WHERE
		                                          MOIM_NO = #{ groupNo }
		                                      AND
		                                          ACCEPT_YN = 'Y'
		                                    )]]> THEN '모집마감'||'('||G.GROUP_MEMBER||')'
		        ELSE '('||((SELECT
		                          COUNT(*)
		                     FROM
		                          APPLY "A"
		                    WHERE
		                          MOIM_NO = #{ groupNo }
		                      AND
		                          ACCEPT_YN = 'Y') + 1)||'/'||G.GROUP_MEMBER||')' END "GROUP_MEMBER"
		  FROM
		       "GROUP" G
		  JOIN 
		       MEMBER "M" ON(G.MEM_NO = M.MEM_NO)
		  JOIN
		       AREA "AR" ON(G.GROUP_AREA = AR.ENG_AREA)
		 WHERE
		       GROUP_NO = #{ groupNo }
	</select>
	
	<select id="selectGroupCountList" parameterType="group" resultType="_int">
		SELECT
		       COUNT(*)
		  FROM
		       "GROUP"
		 WHERE
		       GROUP_STATUS = 'Y'
		<if test='groupArea != "all"'>
		  AND 
		      GROUP_AREA = #{ groupArea }
		</if>
		<if test='gender != "A"'>
		  AND 
		      GENDER = #{ gender }
		</if>
		<if test='level != "E"'>
		  AND
		      "LEVEL" = #{ level }
		</if>
		<if test='groupMember != "A"'>
		  AND
		      (GROUP_MEMBER - 1) <![CDATA[>]]>(SELECT
		                                          COUNT(*)
		                                     FROM
		                                          APPLY "A"
		                                    WHERE
		                                          A.MOIM_NO = GROUP_NO
		                                      AND
		                                          ACCEPT_YN = 'Y'
		                                    )
		  AND
		      TO_CHAR(START_TIME, 'YYYYMMDDHH24MISS') <![CDATA[>= TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')]]>
		</if>
	</select>
	
	<select id="selectGroupList" parameterType="group" resultMap="groupResultMap">
		SELECT 
		        G.GROUP_NO
		       ,M.NICKNAME
		       ,G.MEM_NO
		       ,G.GROUP_AREA
		       ,A.KOR_AREA
		       ,G.CHANGE_NAME
		       ,G.GROUP_TITLE
		       ,CASE WHEN G.GENDER = 'A' THEN '무관'
		             WHEN G.GENDER = 'F' THEN '여자만'
		             ELSE '남자만' END "GENDER"
		       ,CASE WHEN "LEVEL" = 'E' THEN '무관'
		             WHEN "LEVEL" = 'B' THEN '초급'
		             WHEN "LEVEL" = 'M' THEN '중급'
		             ELSE '고급' END "LEVEL"
		       ,CASE WHEN TO_CHAR(G.POWER_DURATION, 'YYYYMMDD') <![CDATA[>= TO_CHAR(SYSDATE, 'YYYYMMDD')]]> THEN '파워'
		             ELSE '일반' END "POWER_DURATION"
		       ,TO_CHAR(G.START_TIME, 'YYYY/MM/DD hh24:mi') "START_TIME"
		       ,TO_CHAR(G.END_TIME, 'YYYY/MM/DD hh24:mi') "END_TIME"
		       ,CASE WHEN GROUP_MEMBER - 1 <![CDATA[<= (SELECT
		                                          COUNT(*)
		                                     FROM
		                                          APPLY "A"
		                                    WHERE
		                                          A.MOIM_NO = G.GROUP_NO
		                                      AND
		                                          ACCEPT_YN = 'Y'
		                                    )]]> THEN '모집마감'
		        ELSE '('||((SELECT
		                          COUNT(*)
		                     FROM
		                          APPLY "A"
		                    WHERE
		                          A.MOIM_NO = G.GROUP_NO
		                      AND
		                          ACCEPT_YN = 'Y') + 1)||'/'||G.GROUP_MEMBER||')' END "GROUP_MEMBER"
		  FROM
		       "GROUP" G
		  JOIN 
		       MEMBER "M" ON(G.MEM_NO = M.MEM_NO)
		  JOIN
		       AREA "A" ON(G.GROUP_AREA = A.ENG_AREA)
		 WHERE
		       GROUP_STATUS = 'Y'
		<if test='groupArea != "all"'>
		  AND 
		      GROUP_AREA = #{ groupArea }
		</if>
		<if test='gender != "A"'>
		  AND 
		      G.GENDER = #{ gender }
		</if>
		<if test='level != "E"'>
		  AND
		      "LEVEL" = #{ level }
		</if>
		<if test='groupMember != "A"'>
		  AND
		      (GROUP_MEMBER - 1) <![CDATA[>]]>(SELECT
		                                          COUNT(*)
		                                     FROM
		                                          APPLY "A"
		                                    WHERE
		                                          A.MOIM_NO = GROUP_NO
		                                      AND
		                                          ACCEPT_YN = 'Y'
		                                    )
		  AND
		      TO_CHAR(START_TIME, 'YYYYMMDDHH24MISS') <![CDATA[>= TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS')]]>
		</if>
		 ORDER
		    BY G.POWER_DURATION, G.CREATE_DATE DESC
		       
	</select>
	
	<insert id="insertOneGroup" parameterType="group">
		INSERT
		  INTO
		       "GROUP"
		VALUES (
		        'G'||SEQ_GNO.NEXTVAL
		       ,#{ memNo }
		       ,#{ groupContent }
		       ,#{ groupArea }
		       ,#{ place }
		       ,#{ groupMember}
		       ,#{ originName }
		       ,#{ changeName }
		       ,#{ level }
		       ,#{ gender }
		       ,SYSDATE
		       <if test="powerDuration != null">
		       ,SYSDATE + 7
		       </if>
		       <if test="powerDuration == null">
		       ,NULL
		       </if>
		       ,#{ groupTitle }
		       ,TO_DATE(#{ startTime }, 'YYYY-MM-DD HH24:MI')
		       ,TO_DATE(#{ endTime }, 'YYYY-MM-DD HH24:MI')
		       ,'Y'
		       )
	</insert>
	
	<update id="updateGroup" parameterType="group">
		UPDATE
		       "GROUP"
		   SET
		        GROUP_CONTENT = #{groupContent}
		       ,GROUP_AREA = #{ groupArea }
		       ,PLACE = #{ place }
		       ,GROUP_MEMBER = #{ groupMember }
		       ,ORIGIN_NAME = #{ originName }
		       ,CHANGE_NAME = #{ changeName}
		       ,"LEVEL" = #{ level }
		       ,GENDER = #{ gender }
		       ,GROUP_TITLE = #{ groupTitle }
		       ,START_TIME = TO_DATE(#{ startTime }, 'YYYY-MM-DD HH24:MI')
		       ,END_TIME = TO_DATE(#{ endTime }, 'YYYY-MM-DD HH24:MI')
			  <if test="powerDuration != null">
	      		,POWER_DURATION = SYSDATE + 7
		      </if>
		 WHERE
		       GROUP_NO = #{ groupNo }
	</update>
	
	
	
	<select id="selectGroupApplyList" resultMap="applyResultMap">
		SELECT
		        APPLY_NO
		       ,A.MOIM_NO
		       ,M.MEM_NO
		       ,ACCEPT_YN
		       ,APPLY_DATE
		       ,ACCEPT_DATE
		       ,M.NICKNAME
		 FROM
		      APPLY "A"
		 JOIN
		      MEMBER "M" ON(M.MEM_NO = A.MEM_NO)
		 JOIN
		      "GROUP" "G" ON(G.GROUP_NO = A.MOIM_NO)
		WHERE
		      MOIM_NO = #{moimNo}
		 AND
		      G.GROUP_STATUS = 'Y'
		 AND
		       ACCEPT_YN = 'N'
	</select>
	
	<update id="deleteGroup">
		UPDATE
		       "GROUP"
		   SET
		       GROUP_STATUS = 'N'
		 WHERE
		       GROUP_NO = #{groupNo}
	
	</update>
	
	<select id="selectAcceptMember" parameterType="string" resultMap="memberResultMap">
		(SELECT
		        MB.MEM_NO
		       ,MB.NICKNAME
		       ,TO_CHAR(A.ACCEPT_DATE, 'YYYY-MM-DD') "ENROLL_DATE"
		       ,MB.GRADE
		  FROM
		       MEMBER "MB"
		  JOIN
		       APPLY "A" ON(MB.MEM_NO = A.MEM_NO)
		 WHERE
		       A.ACCEPT_YN = 'Y'
		   AND 
		       A.MOIM_NO = #{groupNo})
		UNION
		(SELECT
		        M.MEM_NO
		       ,M.NICKNAME
		       ,TO_CHAR(G.CREATE_DATE, 'YYYY-MM-DD') "ENROLL_DATE"
		       ,M.GRADE
		  FROM
		       MEMBER "M"
		  JOIN
		       "GROUP" "G" ON(G.MEM_NO = M.MEM_NO)
		 WHERE
		       G.GROUP_NO = #{groupNo})
	</select>
	
	
</mapper>
