@charset "UTF-8";

<style>
    tr > td:first-child{
        text-align: right;
    }
    tr > td:nth-child(2){
        width: 300px;
    }
    div.outer-top{
        text-align: center;
        margin-top: 50px;
    }
    div.submit-area{
        margin-bottom: 20px;
    }
    

</style>
